<html>
<head>

</head>
<title> Women in Tech </title>



<body>

<div> <p> "IdeaS for surveys: adding a survey to see how tech driven our website visitors are" </p>
<ul>
  <li> "Pop quiz with a survey monkey link"</li>
  <li> "Quiz embeded in the page using ruby?"</li>
  <li> "Contact us button" </li>
</ul>
 </div>



</body>

</html>